In [1]:
!pip install gspread
!pip install pandas
!pip install gspread_dataframe
!pip install gspread_dataframe

Collecting gspread
  Using cached gspread-5.4.0-py3-none-any.whl (37 kB)
Requirement already satisfied: google-auth>=1.12.0 in c:\users\bdg-darobayo\anaconda3\lib\site-packages (from gspread) (2.6.0)
Requirement already satisfied: google-auth-oauthlib>=0.4.1 in c:\users\bdg-darobayo\anaconda3\lib\site-packages (from gspread) (0.4.6)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\bdg-darobayo\anaconda3\lib\site-packages (from google-auth>=1.12.0->gspread) (5.0.0)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\bdg-darobayo\anaconda3\lib\site-packages (from google-auth>=1.12.0->gspread) (4.8)
Requirement already satisfied: six>=1.9.0 in c:\users\bdg-darobayo\anaconda3\lib\site-packages (from google-auth>=1.12.0->gspread) (1.16.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\bdg-darobayo\anaconda3\lib\site-packages (from google-auth>=1.12.0->gspread) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\bdg-darobayo\anaconda3\lib\site-packages (from google-auth-oauthlib>=0.4.1->gspread) (1.3.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\bdg-darobayo\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth>=1.12.0->gspread) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\bdg-darobayo\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.2.0)
Requirement already satisfied: requests>=2.0.0 in c:\users\bdg-darobayo\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.26.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\bdg-darobayo\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\bdg-darobayo\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\bdg-darobayo\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\bdg-darobayo\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.2)
Installing collected packages: gspread
Successfully installed gspread-5.4.0

Collecting gspread_dataframe
  Using cached gspread_dataframe-3.3.0-py2.py3-none-any.whl (7.9 kB)
Requirement already satisfied: gspread>=3.0.0 in c:\users\bdg-darobayo\anaconda3\lib\site-packages (from gspread_dataframe) (5.4.0)
Requirement already satisfied: pandas>=0.24.0 in c:\users\bdg-darobayo\anaconda3\lib\site-packages (from gspread_dataframe) (1.3.4)
Requirement already satisfied: six>=1.12.0 in c:\users\bdg-darobayo\anaconda3\lib\site-packages (from gspread_dataframe) (1.16.0)
Requirement already satisfied: google-auth-oauthlib>=0.4.1 in c:\users\bdg-darobayo\anaconda3\lib\site-packages (from gspread>=3.0.0->gspread_dataframe) (0.4.6)
Requirement already satisfied: google-auth>=1.12.0 in c:\users\bdg-darobayo\anaconda3\lib\site-packages (from gspread>=3.0.0->gspread_dataframe) (2.6.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\bdg-darobayo\anaconda3\lib\site-packages (from google-auth>=1.12.0->gspread>=3.0.0->gspread_dataframe) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\bdg-darobayo\anaconda3\lib\site-packages (from google-auth>=1.12.0->gspread>=3.0.0->gspread_dataframe) (4.8)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\bdg-darobayo\anaconda3\lib\site-packages (from google-auth>=1.12.0->gspread>=3.0.0->gspread_dataframe) (5.0.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\bdg-darobayo\anaconda3\lib\site-packages (from google-auth-oauthlib>=0.4.1->gspread>=3.0.0->gspread_dataframe) (1.3.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\bdg-darobayo\anaconda3\lib\site-packages (from pandas>=0.24.0->gspread_dataframe) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\bdg-darobayo\anaconda3\lib\site-packages (from pandas>=0.24.0->gspread_dataframe) (1.21.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\bdg-darobayo\anaconda3\lib\site-packages (from pandas>=0.24.0->gspread_dataframe) (2021.3)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\bdg-darobayo\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth>=1.12.0->gspread>=3.0.0->gspread_dataframe) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\bdg-darobayo\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread>=3.0.0->gspread_dataframe) (3.2.0)
Requirement already satisfied: requests>=2.0.0 in c:\users\bdg-darobayo\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread>=3.0.0->gspread_dataframe) (2.26.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\bdg-darobayo\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread>=3.0.0->gspread_dataframe) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\bdg-darobayo\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread>=3.0.0->gspread_dataframe) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\bdg-darobayo\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread>=3.0.0->gspread_dataframe) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\bdg-darobayo\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread>=3.0.0->gspread_dataframe) (3.2)
Installing collected packages: gspread-dataframe
Successfully installed gspread-dataframe-3.3.0

In [ ]:
from oauth2client.service_account import ServiceAccountCredentials
import numpy as np
from itertools import chain
from gspread_dataframe import get_as_dataframe, set_with_dataframe
import pandas as pd
import gspread

## CREDENTIALS

In [24]:
def creds():
    scope = ['https://spreadsheets.google.com/feeds', 'https://www.googleapis.com/auth/drive']
    # add credentials to the account
    creds = ServiceAccountCredentials.from_json_keyfile_name('indigo-bazaar-352022-d876f1cad079.json', scope)
    # authorize the clientsheet
    client = gspread.authorize(creds)
    sheet = client.open('Copia de Copy of 2022 Apr COGS')
    return sheet

## Code to take spreadsheet

In [25]:
def takeExcel(page,skiprow):
    sheet_instance = creds().get_worksheet(page)
    records_data = sheet_instance.get_all_values()[skiprow:]
    df = pd.DataFrame(records_data)
    return df

In [28]:
df = pd.DataFrame(takeExcel(2,5))
df = df.rename(columns={0: '0',
                        1:'Date',
                        2:'Transaction_Type',
                        3:'Num',
                        4:'Name',
                        5:'Memo/Description',
                        6:'Account',
                        7:'Class',
                        8:'Amount',
                        9:'Balance'
                        })

df = df.drop(['0', 'Class', 'Balance'], axis=1)
df = df[(df.Transaction_Type == 'Journal Entry') | (df.Transaction_Type == 'Bill') | (df.Transaction_Type == 'Vendor Credit')]
df.head()
#df_filtered['Date'] = pd.to_datetime(df_filtered['Date'], format='%d/%m/%Y', errors='coerce')
#df_filtered.dropna(subset=["Date"], inplace=True)
#df = df_filtered["Memo/Description"].str.split('\n').explode('Memo/Description')

,Date,Transaction_Type,Num,Name,Memo/Description,Account,Amount
2,04/01/2022,Journal Entry,IP AJE 04/01/2022,,,Contents Production Payments:Artists,"-12,200.00"
3,04/01/2022,Journal Entry,IP AJE 04/01/2022,,,Contents Production Payments:Artists,"-3,050.00"
4,04/01/2022,Journal Entry,IP AJE 04/01/2022,,,Contents Production Payments:Artists,"-21,600.00"
5,04/01/2022,Journal Entry,IP AJE 04/01/2022,,,Contents Production Payments:Artists,"-13,200.00"
6,04/01/2022,Journal Entry,IP AJE 04/01/2022,,,Contents Production Payments:Artists,"-6,250.00"

In [29]:
def repeater(s):
    return list(chain.from_iterable(s.str.split('\n')))

In [30]:
lens = df['Memo/Description'].str.split('\n').map(len)

# create new dataframe, repeating or chaining as appropriate
res = pd.DataFrame({'Date': np.repeat(df['Date'], lens),
                    'Transaction_Type': np.repeat(df['Transaction_Type'], lens),
                    'Num': np.repeat(df['Num'],lens),
                    'Name': np.repeat(df['Name'],lens),
                    'Memo/Description': repeater(df['Memo/Description']),
                    'Account': np.repeat(df['Account'],lens),
                    'Amount': np.repeat(df['Amount'],lens)
                    })
res['Amount 1'] = res['Memo/Description'].str.extract("([\d,.]+)[^\d,.]*$")
res['Amount 1']

2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
       ...
1353    NaN
1369    NaN
1370    NaN
1371    NaN
1372    NaN
Name: Amount 1, Length: 2154, dtype: object

In [31]:
df_names_titles = pd.DataFrame(takeExcel(1,0))
df_names_titles

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,#REF!,,Type,,Account,Account short,,AP Vendor ID,title,Creator,...,Creator,COUNTA of title,,,,payee id,payee uname,id,title,
1,Juju's Diary,Juju's Diary,,,Content Title Development Contracts:Contents R...,Contents Revenue Share,,A45LLC,The Beginning After the End,turtleme,...,,0,,,,1,hello-tapas,199929,to be deleted,#N/A
2,Fashionstar,Fashionstar,,,Content Title Development Contracts:Contents R...,Contents Revenue Share:Advancement Payments to CP,,A253,Preventing the Making of a Tyrant,Ironyul,...,Aporia,1,,,,1,hello-tapas,199930,to be deleted,#N/A
3,Silent Horror Z,Silent Horror Z,,,Content Title Development Contracts:Outside Co...,Outside Contractors,,87,The Dragon Prince's Bride,cjyoung,...,ashleytaylor,1,,,,240,MIKA,32809,Ripman The Bloody Halloween,#N/A
4,His Barcode Tattoo,His Barcode Tattoo,,,Content Title Development Contracts:Outside Co...,Outside Contractors:Artists,,137,The Prince's First Love,Haoliaoshen,...,cheezemateproject,2,,,,240,MIKA,32811,Castor,#N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1476,,,,,,,,,,,...,Youth,L&A,,,,,,,,
1477,,,,,,,,,,,...,Pan Focus (Mature),L&A,,,,,,,,
1478,,,,,,,,,,,...,Pan Focus,L&A,,,,,,,,
1479,,,,,,,,,,,...,Heartbreak Incorporated,L&A,,,,,,,,
1480,,,,,,,,,,,...,Deceiving the Dark Duke,L&A,,,,,,,,

In [33]:
res["Title"] = " "

s1 = df_names_titles[0]
s2 = res['Memo/Description']


s1.replace("", np.NaN, inplace=True)
s1=s1.dropna()

In [34]:

for i in s1.index:
    if s1[i] == np.NaN:
        continue
    #print(str(s1[i]))
    for j in s2.index:
        if str(s1[i]) in (str(s2[j])):
            res.at[j, "Title"] = str(s1[i])
            print(str(s1[i]))
            print(i)
print(res)


# res['Title match'] = res['Memo/Description'].str.extract("(?i)\b")
res['Final Amt'] = ""
s3 = res['Amount 1']
s4 = res['Title']
for i in s3.index:
    if len(s4[i]) > 1:
        res.at[i,'Final Amt'] = s3[i]


#
# res['Title match'] = res['Memo/Description'].str.extract("(?i)\b")
print(res.shape)
print(res.shape)

His Barcode Tattoo
4
            Date Transaction_Type                Num  \
2     04/01/2022    Journal Entry  IP AJE 04/01/2022
3     04/01/2022    Journal Entry  IP AJE 04/01/2022
4     04/01/2022    Journal Entry  IP AJE 04/01/2022
5     04/01/2022    Journal Entry  IP AJE 04/01/2022
6     04/01/2022    Journal Entry  IP AJE 04/01/2022
...          ...              ...                ...
1353  04/20/2022             Bill               #001
1369  04/07/2022    Journal Entry         Paypal AJE
1370  04/14/2022    Journal Entry         Paypal AJE
1371  04/21/2022    Journal Entry         Paypal AJE
1372  04/30/2022    Journal Entry         Paypal AJE

                                                   Name  \
2
3
4
5
6
...                                                 ...
1353  153 Hangzhou Ruohong Cultural Creation Co., Lt...
1369
1370
1371
1372

                Memo/Description  \
2
3
4
5
6
...                          ...
1353  Invoice Balance Adjustment
1369                 Bank charge
1370                 Bank charge
1371                 Bank charge
1372                 Bank charge

                                                Account      Amount Amount 1  \
2                  Contents Production Payments:Artists  -12,200.00      NaN
3                  Contents Production Payments:Artists   -3,050.00      NaN
4                  Contents Production Payments:Artists  -21,600.00      NaN
5                  Contents Production Payments:Artists  -13,200.00      NaN
6                  Contents Production Payments:Artists   -6,250.00      NaN
...                                                 ...         ...      ...
1353                Sales Allowances and Fee Deductions        0.01      NaN
1369  Sales Allowances and Fee Deductions:Processing...    2,724.20      NaN
1370  Sales Allowances and Fee Deductions:Processing...    1,202.19      NaN
1371  Sales Allowances and Fee Deductions:Processing...   $1,291.11      NaN
1372  Sales Allowances and Fee Deductions:Processing...    1,659.67      NaN

     title
2
3
4
5
6
...    ...
1353
1369
1370
1371
1372

[2154 rows x 9 columns]
(2154, 9)

In [35]:
worksheet_title = 'upload'
try:
    worksheet = creds().worksheet(worksheet_title)
except gspread.WorksheetNotFound:
    worksheet = creds().add_worksheet(title=worksheet_title, rows=1000, cols=1000)

# Write a test DataFrame to the worksheet

set_with_dataframe(worksheet, res)
res.to_csv('sheet_name', header=True, index=False)

## Conection to database

In [4]:
from sqlalchemy import create_engine
engine = create_engine("trino://bdg:amypvecbr8q1t2g1@trino.data.tapas.io:443/mart/bd_guidance")
connection = engine.connect()

rows = connection.execute("SELECT * FROM test_chuck").fetchall()
print(rows)

[(42, 'test entry', '2022-06-10', '2022-06-10 01:47:00.543', None), (43, 'test 2', '2020-05-17', '2022-06-13 16:02:40.145', 1.0)]

In [5]:
#res.to_sql('test_chuck', schema='bd_guidance', con=connection, index=False, if_exists='append', method='multi')

In [6]:
ls

 El volumen de la unidad C es Windows-SSD
 El número de serie del volumen es: 700D-F7D3

 Directorio de C:\Users\BDG-DAROBAYO\Downloads\TFODCourse-main

06/13/2022  04:23 PM    <DIR>          .
06/13/2022  04:23 PM    <DIR>          ..
04/02/2021  08:26 PM                75 .gitignore
06/13/2022  03:43 PM    <DIR>          .ipynb_checkpoints
04/02/2021  08:26 PM             8,120 1. Image Collection.ipynb
04/27/2022  02:14 PM           576,813 2. Training and Detection.ipynb
11/30/2021  03:37 PM            59,241 2021_11_Q4.csv
07/14/2017  12:02 PM           143,130 appl_stock.csv
05/13/2022  10:59 AM             8,314 calidad.ipynb
05/23/2022  05:40 PM            32,660 calidadDatosAbiertos.ipynb
07/14/2017  12:02 PM                61 ContainsNull.csv
07/14/2017  12:02 PM           115,479 customer_churn.csv
05/17/2022  04:13 PM            33,194 datosAbiertosPrediccion.ipynb
07/14/2017  12:02 PM            86,871 Ecommerce_Customers.csv
04/02/2021  08:26 PM             2,988 Error Guide.md
05/09/2022  02:00 PM                65 example_1.json
05/09/2022  02:02 PM               947 example_2.json
06/02/2022  08:43 AM             2,333 indigo-bazaar-352022-d876f1cad079.json
05/09/2022  01:58 PM               816 jsonformatter.json.txt
05/10/2022  05:38 PM            29,872 linearRegression.ipynb
05/12/2022  11:44 AM            42,472 logisticRegresion.ipynb
04/29/2022  11:40 AM                 0 output.avi
04/29/2022  12:22 PM               258 output.mp4
05/10/2022  09:54 AM                72 proyectSpark.ipynb
05/17/2022  04:06 PM             2,064 pruebas_datos_abiertos
04/02/2021  08:26 PM             3,132 README.md
07/14/2017  12:02 PM               196 sales_info.csv
07/14/2017  12:02 PM           104,736 sample_libsvm_data.txt
07/14/2017  12:02 PM           119,069 sample_linear_regression_data.txt
06/06/2022  04:04 PM           413,083 sheet_name
05/10/2022  10:02 AM            19,404 Spark DataFrames Project Exercise - SOLUTIONS.ipynb
05/16/2022  12:15 PM            23,532 Spark DataFrames Project Exercise.ipynb
05/10/2022  03:55 PM            72,955 spark.ipynb
05/12/2022  11:41 AM    <DIR>          spark-warehouse
06/13/2022  04:23 PM            38,853 Tapas_quickbooks.ipynb
04/27/2022  02:00 PM    <DIR>          Tensorflow
05/09/2022  01:50 PM               631 test.json
07/14/2017  12:02 PM            60,302 titanic.csv
05/12/2022  12:08 PM             8,468 titanic.ipynb
06/13/2022  03:34 PM             2,900 Untitled.ipynb
06/13/2022  04:19 PM             3,717 Untitled1.ipynb
04/28/2022  09:54 AM           473,005 video.mp4
04/29/2022  12:23 PM           728,269 videoDetectionVideoLocal.ipynb
07/14/2017  12:02 PM            90,266 walmart_stock.csv
              39 archivos      3,308,363 bytes
               5 dirs  333,847,891,968 bytes libres